
body {
  background-color: #000;
  margin: 0; /* Elimina el margen predeterminado del body */
  overflow: hidden;
}

.centrar-contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative; /* Añade posición relativa para el contenido que se superpone */
  z-index: 2; /* Asegúrate de que el contenido tenga un índice z mayor */
}

.flower {
  height: 200px;
  width: 200px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #000;
  z-index: 2; /* Asegúrate de que el índice z sea menor que el contenido */
}
#particle-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; /* Asegúrate de que el canvas esté detrás del contenido */
}

#formulario {
  position: relative;
  z-index: 2; /* Asegúrate de que el formulario esté por encima del canvas y la flor */
}

.text-above,
.text-below {
  position: absolute;
  text-align: center;
  color: #000000;
  font-size: 25px;
  padding: 20px;
  background: #c0c2c2;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
  line-height: 1.4; /* Espaciado entre líneas para mejorar la legibilidad */
  font-family: 'Arial', sans-serif; /* Puedes cambiar la fuente según tus preferencias */
}



.text-above {
    top: -60px; /* Ajusta la posición vertical del texto arriba de la flor */
}

.text-below {
    bottom: -60px; /* Ajusta la posición vertical del texto debajo de la flor */
}
@keyframes pulsate {
  0% {
      transform: scale(1.5);
  }
  50% {
      transform: scale(1.6);
  }
  100% {
      transform: scale(1.5);
  }
}
.mid {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: radial-gradient(circle, #000, #ff0000, #000); /* Cambia el gradiente a rojo */
  z-index: 4;
  background-size: 5px 5px;
  filter: drop-shadow(0 0 8px #949494);
  margin-bottom: 200px;
}

.stem {
  padding-bottom: 100px;
  position: absolute;
  bottom: 0;
  left: calc(50% - 5px); /* Posiciona el tallo en el centro */
  width: 10px;
  height: 100px;
  background-color: #228B22; /* Color verde para el tallo */
}


  .Petal1 {
    position: absolute;
    left: 40px;
    z-index: 3;
  
    width: 120px;
    height: 30px;
    border-radius: 50%;
  
    background: radial-gradient(circle, #b97f00, #ff0000);
    margin-bottom: 200px;
    filter: drop-shadow(0 0 5px #cccccc);
  }
  
  .Petal1.p1 {
    transform: rotate(22.5deg);
  }
  .Petal1.p2 {
    transform: rotate(67.5deg);
  }
  .Petal1.p3 {
    transform: rotate(110.5deg);
  }
  .Petal1.p4 {
    transform: rotate(157.5deg);
  }
  
  .Petal2 {
    position: absolute;
    left: 0;
    z-index: 2;
  
    width: 200px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 200px;
    background: radial-gradient(circle, #b97f00, #ff0000);
  
    filter: drop-shadow(0 0 5px #cfcfcf);
  }
  
  /* .Petal2.p1 {
  } */
  
  .Petal2.p2 {
    transform: rotate(90deg);
  }
  .Petal2.p3 {
    transform: rotate(45deg);
  }
  
  .Petal2.p4 {
    transform: rotate(135deg);
  }
  
  .Petal3 {
    position: absolute;
    left: 0px;
    z-index: 1;
  
    width: 200px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 200px;
    background: radial-gradient(circle, #b97f00, #ff0000);
  
    filter: drop-shadow(0 0 5px #dfdede);
  }
  .Petal3.p1 {
    transform: rotate(22.5deg);
  }
  .Petal3.p2 {
    transform: rotate(67.5deg);
  }
  .Petal3.p3 {
    transform: rotate(110.5deg);
  }
  .Petal3.p4 {
    transform: rotate(157.5deg);
  }

 